{

"distance" 	: 150.5, 	# Distance to the galaxy, in Mpc. Since this script was meant to be run on multiple observations of a
				# single galaxy, this needs to be user input in params_merged.config, as pulling it from the copied
				# params.config would make life more difficult.

"filter_check" 	: "2-7",	# Same as the filter_check variable the user should be familiar with from xray_flux.py. Since users might
				# have run xray_flux.py multiple times in different bands, there could be more than one repro directory
				# in each obsid folder. This tells the code which one to focus on, as well as being used for the fluximage
				# part of merge_obs.

"band_check" 	: "2-10",	# Similar to above - this tells the code which repro directory to look for, and also gets plugged into
				# srcflux later in the code. Same as the band_check variable in xray_flux.py.

"max_sep" 	: 0.1, 		# In arcseconds, this is the maximum separation tolerated between source centroids in different obsids.
				# Different observations of the same object might have slightly different astrometry, so in this code
				# we run wavdetect on the merged event file, then use this position to search for source centroids (in a
				# small radius around the position) in all the different obsid event files. This variable is the maximum
				# separation we can detect between the positions of those source centroids in different obsid event files
				# before terminating the script. The rule of thumb for this is that we need the astrometric differences
				# to be much less than a chandra pixel (0.492 arcsec), so the default value for is is 0.1 as ~1/5th of
				# a pixel. It probably shouldn't be changed to be much higher. If the code does detect too big an offset
				# and stops, the user will have to do astrometry realignment on the offending obsids.

"max_std" 	: 0.02,		# Slightly complicated to explain, but essentially this is a measure of how different the calculated
				# source radii are allowed to be before we start caring about it. In xray_flux.py, we find source radii
				# by using psfsize_srcs to create a region that captures a certain fraction of the psf energy (given by
				# the variable analysis_psfecf) at a certain energy (given by analysis_energy). Since psfsize_srcs 
				# cannot be run on the merged event file, we instead run it on all the different event files from the
				# different obsids and average the calculated radii together to arrive at a final source region radius.
				# During this finding of the average, we also calculate the standard deviation (std) of all of the
				# calculated radii. This can likely be set higher than the current value of 0.02, but less variation
				# is naturally better. Note that we also use this as the limit for the std between the different galaxy 
				# regions.
}
